@keyframes party {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes glimmer {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes slide {
  to {
    transform: translateX(50px);
  }
}

@keyframes bob {
  to {
    translate: 0 100px;
  }
}
