* {
  font-family: sans-serif;
  color: rgb(179, 179, 179);
}

body {
  position: relative;
  margin: 0;
  background-color: rgb(69, 0, 0);
  overflow: clip;
}

#c {
  display: block;
  width: 100%;
  height: 100%;
}

/* UI */

#stats {
  transform-origin: top left;
  transform: scale(0.75);
}

#fish_on {
  visibility: hidden;
  position: fixed;
  user-select: none;
  margin: 0;
  padding: 0;
  color: orangered;

  @keyframes glimmer {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }

  animation: glimmer 1.5s linear infinite alternate,
    pulse 300ms linear infinite alternate;
}

#debug {
  padding: 3px;
  position:fixed;
  top: 0;
  right: 0;
  font-size: 0.5em;
  color: cyan;
  background-color: black;

  opacity: 0.35;
}